html, body {width: auto!important; overflow-x: hidden!important}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .custom-navbar .navbar-brand {
    padding-left: 25px !important;
  } 

/*NONE*/
  .none{
    display: none !important;
  }

  .left-none{
    padding-left: 0px !important;  
  }

  .content-50{
    padding: 20px !important;
  }

  .custom-navbar-h {
    background-color: #102F4A !important;
  }
  .par-sec-1{
  background-image: url('../images/h1-mobile.png') !important;
  }
  .par-sec-2{
  background-image: url('../images/h7-mobile.png') !important;
  }
  .par-sec-3 {
  /* The image used */
  background-image: url('../images/o1-mobile.png') !important;
  padding-top: 650px !important;
  }
  .par-sec-4{
  background-image: url('../images/e1-mobile.png') !important;    
  }
  .par-sec-about{
  background-image: url('../images/about-mob.png') !important; 
  padding-top: 646px !important;
  margin-top: 100px !important;
  background-size: 90% 93% !important;
  }

  .parallax-section{
    padding-top: 50px !important;
    padding-bottom: 30px !important ;
  }

  .parallax-section-blank{
    padding-top: 150px !important;
    padding-bottom: 30px !important ;
  }
  .row-middle{
      width: 90% !important;
  margin:auto !important;

  }

 /*mobile header background*/
  .greyz{
   background-color: #EEEEEE !important;
  }
  .bluez{
    background-color: #102F4A !important;
  }

  .center-mobile{
    text-align: center !important;
  }

  .left-mobile{
    text-align: left !important;
  }

  .icon-footer{
    width: 11px !important;
    height: 16px !important;
  }

  .cont-full{
    width: 100% !important;
  }

  .br-none{
    margin-bottom: 0px !important;
    display: block !important;
  }

  .br-none-w{
    margin-bottom: 22px !important;
    display: block !important ;
  }

/*TEXT*/
  .header2{
font-size: 34px !important;
line-height: 40px !important;
text-align: center !important;
  }

.txt-white{
font-style: bold;
font-size: 22px !important;
line-height: 26px !important;
display: flex;
align-items: center;
text-align: center;
}
.txt-white-s{
  font-size: 16px !important;
line-height: 19px !important;
text-align: center !important;
color: white;
font-weight: normal;
}
.txt-grey{
font-size: 16px !important;
line-height: 19px !important;
color: #808080;
}
  .txt1{
font-size: 16px !important;
line-height: 19px !important;
font-style: normal;
font-weight: normal;
  }
  .txt2{
padding-top: 30px !important;
font-size: 22px !important;
line-height: 26px !important;
  }

  .txt5{
    font-size: 16px !important;
line-height: 19px !important;
font-style: normal;
font-weight: normal;
  }

    .txt6 {
   font-size: 16px !important;
line-height: 19px !important;
font-style: bold;
font-weight: normal;
text-align: center;
}

  .txt2-home{
    font-weight: bold;
font-size: 22px !important;
line-height: 26px !important;
text-align: left !important;
padding-left: 0px !important;
padding-top: 30px !important;
  }

  .tx5{
font-size: 22px !important;
line-height: 26px !important;
  }

   .txt6-white {
font-size: 20px !important;
line-height: 23px !important;
}

  .txt6-head{
   font-size: 20px !important;
line-height: 23px !important; 
  }

.txt6-left{
   font-size: 20px !important;
line-height: 23px !important; 
}

  .txt-sol-white{
    font-size: 14px !important;
    width: 100% !important;
}

  .txt-grey-sol{
font-size: 16px !important;
line-height: 19px !important; 
}

line-height{ 
width: 100% !important;
}
  .txt-sol{
    width: 100% !important; 
  }

  iframe{
    width: 100%;
    height: 194px;
  }

/*IMG MOBILE*/
  img{
    width: 100% ;
    height: auto ;
  }

  .petik{
    width: 40px;
    height: 35px;
  }


  .zig-zag-oee{
    left: 0px !important;
    padding-top: 10px !important;

  }

  .zig-zag{
    left: 0px !important;
    padding-top: 0px !important;
  }

  .zig-zag-2{
  left: 0px !important; 
  top: 0px !important;
  }

  .section-ems-1{
  padding-left: 20px !important; 
  padding-top: 30px !important;
  padding-right: 50px !important;
  }

  .section-ems-2{
  padding-left: 20px !important; 
  padding-top: 30px !important;
  padding-right: 50px !important;
  }

  .parallax-section-ems{
  display: flex !important;
  flex-direction: column-reverse !important;
  padding-left: 0px !important;
  }

  .img-sol{
    width: 215px !important;
    height: 392px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
  }

  .img-h-1{
    width: 167px !important;
    height: 128px !important;
    display: block !important;
   margin-left: auto !important;
    margin-right: auto !important; 
  }
 
  .img-h-2{
    width: 211px !important;
    height: 62px !important;
    display: block !important;
   margin-left: auto !important;
    margin-right: auto !important; 
  }

  .img-h-3{
    width: 166px !important;
    height: 128px !important;
    display: block !important;
   margin-left: auto !important;
    margin-right: auto !important; 
  }

  .img-h-4{
    width: 166px !important;
    height: 128px !important;
    display: block !important;
   margin-left: auto !important;
    margin-right: auto !important; 
  }

.subs-w{
  display: none !important;

  }
.subs-m{
  display: inline !important; 
  margin: 10px !important;
}

  #ip2{
    width: 305px !important;
  }

  .logo_Jeager{
  width: 144px !important ;
  height: 58px !important;
  margin: 30px !important;
  }

  .left-nul{
    padding-left: 0px !important;
    padding-top: 0px !important;
  }

  .margin-min{
    margin-bottom: 75px !important;
    margin-top: 50px !important;
  }

  .flex-mob{
    width: 14% !important;
  }

  .subsBut{
    margin-top: 12px !important;
    padding:6px 125px !important;
  }

  .embed-responsive-item{
    width: 100% !important;
    height: 100% !important;
  }

  .no-flex-mobile{
    flex: none !important;
  }

  .l-none{
    left: 0px !important;
  }

  .open-button-m {
    background: #2B2B2B !important;
      color: white !important;
      border: 30px !important;
      cursor: pointer !important; 
      border-radius: 100% !important;
      position: fixed !important;
      bottom: 0px !important;
      right: 5px !important;
      padding: 24px;
      z-index: 1;
    }

    .open-button{
      display: none !important;
    }

    .form-container{
      max-width: 100% !important;
    }

    .form-popup{
      right: 0px !important;
    }

    #close{
      padding-left: 180px !important;
    }

  #oee-2{
    padding-left: 0px !important;
  }
  .petik-ems{
    display: none !important;
  }

  .flex-center{
    display: grid !important;
  }
  
}



/*WEBSITE*/

.parallax-section-ems {
  background-attachment: fixed !important;
  background-size: cover !important;
  overflow-x: hidden;

  padding-top: 120px;
  padding-bottom: 50px;
  padding-left: 30px;
}

.section-ems-1{
  text-align: left; 
  padding-left: 210px; 
  padding-top: 150px;
}
.section-ems-2{
  text-align: left; 
  padding-top: 180px; 
  padding-right: 200px;
}

.zig-zag-oee{
  left: 80px;
  padding-top: 0px;
  padding-top: 300px;
}

.zig-zag{
  left: 80px;
  padding-top: 0px;
}

.zig-zag-2{
  left: 100px; 
  top: 275px;
}

.row-middle{
  width: 55%;
  margin:auto;
  text-align: center;
}

.sol-grey{
  font-size: 12px; 
  color: #808080;
  font-weight: normal;
}

.txt-ems-h{
font-weight: bold;
font-size: 28px;
line-height: 33px;
color: #102F4A;
}

.txt-ems{
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #102F4A;
}

.txt-sol-white{
font-weight: normal;
font-size: 16px;
line-height: 19px;
text-align: center;
margin: auto;
width: 50%;
color: #FFFFFF;
}
.txt-sol{
  font-weight: normal;
font-size: 16px;
line-height: 19px;
margin: auto;
width: 40%;
text-align: center;
}

.txt-grey-small{
font-style: italic;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #808080;
}

.txt-pop-label{
font-family: "Roboto";
line-height: 15px;
font-size: 13px;
color: white;
}

.txt-tag{
  font-family: "Roboto";
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #D4D4D4;
}

.txt-pop-head{
font-weight: bold;
font-size: 16px;
line-height: 19px;
color: white;
}

.header2{
  font-size: 42px; 
  line-height: 49px;  
  font-weight: bold; 
  color: black;
}

.tx-sol{
    
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
}

.txt-grey{
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
color: #808080;

}


.txt-grey-sol{
font-size: 20px;
color: #808080; 
}

  .txt-white{
font-style: bold;
font-weight: bold;
font-size: 34px;
color: white;
  }

  .txt-white-s{
    font-weight: normal;
    color: white; 
    font-size: 20px;
  }

  /*txt1==txt5*/
  .txt1{

font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
color: black;
  }
  .txt2{
font-style: normal;
font-weight: bold;
font-size: 34px;
line-height: 40px;
color: black;
  }
  .txt2-home{
padding-top: 120px; 
padding-left: 90px; 
font-style: normal;
font-weight: bold;
font-size: 34px;
line-height: 40px;
color: black;
  }

  .txt5{
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
  }

  .txt6 {
    font-weight: bold;
font-size: 28px;
line-height: 33px;
text-align: center;
color: black;
}
  .txt6-head {
    font-weight: bold;
font-size: 28px;
line-height: 33px;
text-align: center;
color: black;
}
  .txt6-white {
    font-weight: bold;
font-size: 28px;
line-height: 33px;
text-align: center;
color: white;
}

  .txt6-left{
    font-weight: bold;
font-size: 28px;
line-height: 33px;
text-align: left;
color: black;   
  }

.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.tx5{
font-weight: bold;
font-size: 34px;
line-height: 40px;
color: black;
  }

.ft_text{
font-size: 12px;
line-height: 24px;
color: #FFFFFF;
font-weight: normal;
}

.ft_text:hover{
  color: #FFFFFF;
  }

.brm{
  display: block;
  margin-bottom: 4.8em;
}

.brs{
  display: block;
  margin-bottom: -0.5em;
}

.br-none-w{
  margin-bottom: 0px ;
  display: block ;
}

#ip2 {
  border-radius: 10px;
  border: 2px white;
  padding: 5px;
  width: 180px;
  height: 26px;    
  color: black;
}

#ip2::placeholder{
font-size: 14px;
line-height: 16px;
color: #D4D4D4;
}

hr{
  display: block;
  margin-top: 2.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  color: white;
}

.white{
  background-color: white !important;
}

.subs-m{
  display: none;
}

.petik-ems{
  font-size: 72px; 
  font-family: "Times New Roman", Times, serif;
  color: #2D6DA4; 
  opacity: 0.2;
}

.flex{
  display: flex;
}

.flex-center{
  justify-content: center;
  display: flex;
}

.subsBut {
	background:linear-gradient(to bottom, #2d6da4 5%, #1e62d0 100%);
	background-color:black;
	border-radius:10px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:12px;
	font-weight:bold;
	padding:5px 24px;
	
}
.subsBut:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #2d6ca4 100%);
  background-color:#2d6da4;
  color: white;
}
.subsBut:active {
	position:relative;
	top:1px;
}

/* POP UP FORM */
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background: #2B2B2B;
  color: white;
  padding: 16px 20px;
  border: none;
  text-align: left;
  cursor: pointer;
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 280px;
  z-index: 1;
}

.content-50{
  padding: auto;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0px;
  right: 0px;
  border: 2px solid #2B2B2B;
  z-index: 1;  
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 20px;
  background-color: #2B2B2B;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #5A87AE;
  color: white;
  padding: 10px 14px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  border-radius: 10px;
  font-family: "Roboto";
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

#pop-input{
    border-radius: 10px;
}

#close{
  padding-left: 125px;
}

/* END POP UP FORM */

#oee-2{
  padding-left: 50px;
}


.white-c{
  color: white;
}

