.line {
    width: 400px;
    height: 5px;
    background: -moz-linear-gradient(0deg, #112F4B 0%, #25A4D9 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #112F4B), color-stop(100%, #25A4D9)); /* safari4+,chrome */
    background: -webkit-linear-gradient(0deg, #112F4B 0%, #25A4D9 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(0deg, #112F4B 0%, #25A4D9 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(0deg, #112F4B 0%, #25A4D9 100%); /* ie10+ */
    background: linear-gradient(90deg, #112F4B 0%, #25A4D9 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#112F4B', endColorstr='#25A4D9', GradientType=1); /* ie6-9 */
}

.line-white {
    width: 400px;
    height: 5px;
    background: white;
}

.hubungi-kami {
    width: 206px;
    height: 34px;
    background: #112F4B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.solution-card {
    -webkit-box-shadow: 0 0 24px rgba(46, 193, 255, 0.5);
    -moz-box-shadow: 0 0 24px rgba(46, 193, 255, 0.5);
    box-shadow: 0 0 24px rgba(46, 193, 255, 0.5);
    width: 94%;
    border-radius: 10px;
}

.solution {
    border-radius: 10px;
    box-shadow: none;
}

.prev-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 35px 25px 0;
    border-color: transparent #ffffff transparent transparent;
    filter: drop-shadow(-1px 0px 5px rgba(46, 193, 255, 0.5));
}

.next-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 35px;
    border-color: transparent transparent transparent #fff;
    filter: drop-shadow(-1px 0px 5px rgba(46, 193, 255, 0.5));
}

/* Tablet and up */

@media screen and (min-width: 768px) {
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        -webkit-transition: none;
        transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item {
        position: relative;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item {
        position: relative;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
    }
}

/* Desktop and up */

@media screen and (min-width: 992px) {
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        -webkit-transition: none;
        transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
    }
}

.container {
    max-width: 100%;
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
}